.rc-modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 17, 14, 0.6);
  text-align: center;
  padding: 0.5rem 4rem;
  box-shadow: inset 1px 1px 7rem 0rem black;
  border: 0.25rem ridge #8C8C8C;
  width: 500px;
}

.rc-modal-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0 1rem 0;
}

.rc-modal-button-container > button {
  padding-left: 5rem;
  padding-right: 5rem;
}
